﻿@model FleetManagementSystem.MVCClient.ViewModels.DriverAssignment

@{
    ViewBag.Title = "Add A Trip";
}



@using (Html.BeginForm("AddAssignment", "Dispatch", FormMethod.Post))
{
    <h4>Add Assignment to Driver: </h4>
    <h2>@Html.DisplayFor(m => Model.drivr.FirstName) @Html.DisplayFor(m => Model.drivr.LastName) </h2> <span>Driver ID: @Html.DisplayFor(m => Model.driverId)</span>
    <div class="form-group">

        @Html.EditorFor(m => Model.driverId, new { id = Model.driverId, htmlAttributes = new { @class = "hidden" } })

        @Html.LabelFor(m => Model.sAddressProp, new { @class = "control-label" })
        @Html.EditorFor(m => Model.sAddressProp, new { id = Model.sAddressProp, htmlAttributes = new { @class = "form-control", @placeholder = "Start",} })     

        @Html.LabelFor(m => Model.eAddressProp, new { @class = "control-label" })
        @Html.EditorFor(m => Model.eAddressProp, new { id = Model.eAddressProp, htmlAttributes = new { @class = "form-control", @placeholder = "End" } })

        @Html.LabelFor(m => Model.detailsProp, new { @class = "control-label" })
        @Html.EditorFor(m => Model.detailsProp, new { id = Model.detailsProp, htmlAttributes = new { @class = "form-control", @placeholder = "Message to Driver"} })

        @Html.LabelFor(m=> Model.completeProp, new { @class ="control-label"})
        @Html.EditorFor(m => Model.completeProp, new { id = Model.completeProp, htmlAttributes = new { @class = "form-control", @placeholder = "Yes/No" } })
    </div>

    <input type="submit" value="Post Assignment" />
}