﻿<head>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDQqDJwwFDfms1rTJzs9KRlmWjMbtnJFvQ"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Dispatch</title>
</head>
<body>
    <h1>Welcome, Dispatcher!</h1>
    <div> 
        <p id="hello"></p>
@*        @Html.ActionLink("Drivers", "DriversList", "Dispatch")*@
        <input type="button" value="See Drivers" onclick="@("window.location.href='" + @Url.Action("DriversList", "Dispatch" ) + "'") ;" />

    </div>

    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/google.js"></script>
</body>
