﻿@model IEnumerable<FleetManagementSystem.MVCClient.ViewModels.DriverAssignment>

@{
    ViewBag.Title = "Assignments";
}



<h2>Assignments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.drivr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complete)
        </th>
        <th>
            Map
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.drivr.FirstName) @Html.DisplayFor(modelItem => item.drivr.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.complete)
            </td>
            <td>
                @Html.ActionLink("Route", "MapRouter", new { id = item.aId })
            </td>
        </tr>
    }
</table>

<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDQqDJwwFDfms1rTJzs9KRlmWjMbtnJFvQ&callback=initMap"></script>
<script src="~/scripts/google.js"></script>
