﻿@model FleetManagementSystem.MVCClient.ViewModels.DriverAssignment

@{
    ViewBag.Title = "My Assignment";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.drivr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complete)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.drivr.FirstName) @Html.DisplayFor(model => model.drivr.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.sAddress)
        </td>
        <td>
            @Html.DisplayFor(model => model.eAddress)
        </td>
        <td>
            @Html.DisplayFor(model => model.details)
        </td>
        <td>
            @Html.DisplayFor(model => model.complete)
        </td>
    </tr>
</table>

<div>
    <input id="address" hidden value=@Html.DisplayFor(model => model.sAddress) />
    <input id="address2" hidden value=@Html.DisplayFor(model => model.eAddress) />
</div>
<div id="map" class="center-block" style="height:396px; width: 594px;"></div>

@using (Html.BeginForm("CompleteSubmit", "Driver", FormMethod.Post))
{
    <h4>Job Complete?</h4>
    <span>The Job is complete</span>
    @Html.EditorFor(m => Model.drivr, new { id = Model.drivr, htmlAttributes = new { @class = "hidden" } })
    @Html.EditorFor(m => Model.sAddress, new { id = Model.sAddress, htmlAttributes = new { @class = "hidden" } })
    @Html.EditorFor(m => Model.eAddress, new { id = Model.eAddress, htmlAttributes = new { @class = "hidden" } })
    @Html.EditorFor(m => Model.details, new { id = Model.details, htmlAttributes = new { @class = "hidden" } })

    @Html.EditorFor(m=>Model.driverId, new { id= Model.driverId, htmlAttributes = new {@class = "hidden"} })
    @Html.EditorFor(m => Model.aId, new { id = Model.aId, htmlAttributes = new { @class = "hidden" } })
    @Html.CheckBoxFor(m => Model.completeB)
    <input type="submit" value="submit" />
}

<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDQqDJwwFDfms1rTJzs9KRlmWjMbtnJFvQ&callback=initMap"></script>
<script src="~/scripts/google.js"></script>
