﻿@model FleetManagementSystem.MVCClient.ViewModels.Drivr

@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fleet Management</title>
</head>

<body>
    <div>
        <h1>Welcome to American Fleet Management</h1> 
    </div>
    <div>
        <h3>Please select your role</h3>
        @*<input type="button" value="Some text" onclick="window.location.href='<%= Url.Action(" actionName", "controllerName" ) %>';" />*@
        <input type="button" value="Dispatcher" onclick= "@("window.location.href='" + @Url.Action("Index", "Dispatch" ) + "'") ;" />
        <input type="button" value="Driver" onclick="@("window.location.href='" + @Url.Action("LoginInit", "Home" ) + "'") ;" />
    </div>

    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
