﻿@model FleetManagementSystem.MVCClient.ViewModels.Drivr

@{
    ViewBag.Title = "Login";
}

<div>
     <h1>Welcome to American Fleet Management</h1>
</div>
    <div>
        <h3>Please select your role</h3>
        @* <input type="button" value="Some text" onclick="window.location.href='<%= Url.Action(" actionName", "controllerName" ) %>';" />*@
        <input type="button" value="Dispatcher" onclick="@("window.location.href='" + @Url.Action("Index", "Dispatch" ) + "'") ;" />
        <input type="button" value="Driver" onclick="@("window.location.href='" + @Url.Action("LoginInit", "Home" ) + "'") ;" />
    </div>
    <h2>Login</h2>

@if (TempData["alert"] != null)
{
    <p>@TempData["alert"]</p>
}

    @using (Html.BeginForm("Login", "Home", FormMethod.Get))
    {
        <div class="form-group">
           @Html.LabelFor(m => Model.handle, new { @class = "control-label" })
           @Html.EditorFor(m => Model.handleProp, new { id = Model.handleProp, htmlAttributes = new { @class = "form-control", @placeholder = "User Name", } })

           @Html.LabelFor(m => Model.pass, new { @class = "control-label" })
           @Html.EditorFor(m => Model.passProp, new { id = Model.passProp, htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Password", } })
        </div>
        <input type="submit" value="Login" />
     }
